<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Tana Themer</string>
	<key>CFBundleExecutable</key>
	<string>TanaThemer</string>
	<key>CFBundleIconFile</key>
	<string>TanaThemer</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.hellbendereu.tana-themer</string>
	<key>CFBundleName</key>
	<string>Tana Themer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.3.4</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Tana Themer uses Apple Events to manage its background helper and to relaunch Tana Outliner with the debugging port required for theme injection.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
